flake8==5.0.4
flake8-colors==0.1.9
flake8-commas==2.1.0
flake8-comprehensions==3.10.0
flake8-debugger==4.1.2
flake8-polyfill==1.0.2
flake8-quotes==3.3.1
flake8-typing-imports==1.14.0
ipdb==0.13.9 #For debugging
pep8-naming==0.13.2
pre-commit==2.20.0
